body {
  background-color: #121212;
  color: white;
  font-family: 'Poppins', sans-serif;
}

.sidebar {
  width: 200px;
}

.player-bar {
  height: 80px;
  border-top: 1px solid #282828;
}

.card {
  transition: transform 0.2s ease;
}
.card:hover {
  transform: scale(1.05);
  cursor: pointer;
}
